*{margin:0;padding:0;border:0}/*reset*/
html, body{height: 100%}
body{background:#fff;color:#484329;font-family:Arial,'Alegreya','sans-serif';margin:0}
/* Global*/

.small,.no-display{display: none}
.big{display:compact}
section.page-wrap{border: 0 dotted #000;height: 100%;overflow-y: auto}
section.main img{max-width:100%;height:auto;width:auto}
img.logo{opacity: 0.6;transition: 1s;}
img.logo:hover{opacity:1.0}
p.bounceUp, p.bounceUp svg{color: #484329}
/*<editor-fold desc="Layout" defaultstate="collapsed">*/
.row{margin-left: -15px;margin-right: -15px;}
/*.row::after{clear: both}
.row::before{content: " ";display: table;}*/
.col-xs-1, .col-xs-3, .col-xs-9, .col-xs-12 {position: relative;min-height: 1px;padding-left: 15px;padding-right: 15px;}
.col-xs-12 {float: left;width: 100%;}
/*</editor-fold>*/
/* Header*/
header{box-shadow: 0 10px 10px 5px #dedcce;background-color: #fff;border-bottom: 3px solid #cecece;transition: 1s}
header:hover{border-bottom: 0 solid #5a523a}
header.fixed{position: fixed;top: -58px;z-index: 1000;transition: .6s;width: 100%;box-shadow:none;background-color: rgba(255,255,255,.6);border: none}
a.home-key{float:left;width:55px;height:55px;}
div.header-inner{height: 55px;transition: 1s}
div.header-inner:hover{background-color: #484329}
div.header-inner:hover a{color: #c4bc96}
div.header-inner:hover a:hover{background-color: #5a523a}
div.header-inner:hover div.bar{background-color: #c4bc96}
/*--- Start Navigation --*/
nav{float:right;height: 100%}
#mkey1,#mkey2{display:none;}
ul{list-style-type:none}
nav ul li{display:inline-block;float:left}
header nav ul li a,header nav a,header a.pull-left{color:#484329;text-decoration:none;font-size:16px;padding: 18px 16px}
/*--- End Navigation --*/
/*Banner*/
.banner{width:100%}
.banner-inner{max-width:768px;margin:0 auto}
.banner-inner p{color: #484329;font-size: 12pt;padding: 5px;text-indent: 0}

/*account-pane*/
#account-pane{background-color: #efeddf;}
#results-pane{background-color: #dedcce;position: relative;overflow-x: hidden;display: none}

/**---Start Footer--*/
footer{background-color:#5a523a;width:100%}
.social{list-style-type:none;text-align:center}
.social li{display:inline}
.social i{font-size:460%;margin:1%;padding:5% 5% 5% 4%;color:#c4bc96 }
.social i:hover{color:#fff}
footer.second{border-top:1px solid #c4bc96;background-color:#484329;max-height:55px;margin:0;color: #c4bc96}
footer.second p{padding:2px 0;text-align:center;font-size: 18px}