/*<editor-fold desc="Bounce Back" defaultstate="collapsed">*/
.bounceUp{text-align: center;margin: 0;padding: 0}
.bounceUp svg,.bounceUp i{transform: rotate(180deg);animation: bounce 1s ease infinite;position: relative}
@keyframes bounce{ from {bottom:-5px} 50% {bottom:5px} to {bottom:-5px}}
/*</editor-fold>*/
/*<editor-fold desc="Special Effects" defaultstate="collapsed">*/
@-webkit-keyframes fadeinout {0%{background-color: #484329; color: transparent;}}
@keyframes fadeinout {0%{background-color: #484329; color: transparent;}}
.flash,header{-webkit-animation:fadeinout 6s linear backwards}
/*</editor-fold>*/
/*<editor-fold desc="pop-down" defaultstate="collapsed">*/
/* Popdown container */
.popdown {position: relative;display: inline-block;cursor: pointer;}
/* Popdown container */
/* The actual popdown (appears on botton) */
.popdown .popdownpane {visibility: hidden;width: 220px;color: #484329;background-color: #c4bc96;text-align: center;border-radius: 6px;padding: 8px 0;position: absolute;z-index: 1000;top: 125%;left: 50%;margin-left: -160px;}
/* Popup arrow */
.popdown .popdownpane::after { content: "";position: absolute; bottom: 100%;left: 50%; margin-left: -10px;border-width: 10px; border-style: solid; border-color: transparent transparent #484329 transparent}
/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popdown .show {visibility: visible;-webkit-animation: fadeIn 1s;animation: fadeIn 1s}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {from {opacity: 0;} to {opacity: 1;}}
@keyframes fadeIn {from {opacity: 0;} to {opacity:1 ;}}
/*</editor-fold>*/
/*<editor-fold desc="Modal" defaultstate="collapsed">*/
/* The Modal (background) */
div.modal {display: none;position: fixed;z-index: 100;padding-top: 1%;left: 0;top: 0;width: 100%;height: 100%;overflow: auto;background-color: rgb(0,0,0);background-color: rgba(0,0,0,0.4);}
/* Modal Content */
div.modal-content {position: relative/*;background-color: #fefefe*/;margin: auto;padding: 0;border: 1px solid #888;width: 80%;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);-webkit-animation-name: portal;-webkit-animation-duration: 0.7s;animation-name: portal;animation-duration: 0.7s}
/* Add Animation */
@-webkit-keyframes animatetop {from {top:-300px; opacity:0}   to {top:0; opacity:1}}
@keyframes animatetop { from {top:-300px; opacity:0} to {top:0; opacity:1}}

@-webkit-keyframes portal {from {width: 100%;opacity:0}   to {width: 80%;opacity:1}}
@keyframes portal { from {width: 100%;opacity:0} to {width: 80%;opacity:1}}
/* The Close Button */
span.close {color: #000;float: right;font-size: 28px;font-weight: bold;}
span.close:hover,.close:focus {border-color: #fff;text-decoration: none;cursor: pointer;}
span.quit{font-size:12pt;font-family:sans-serif;border: 1px solid #000;padding: 5px;border-radius:5px;font-weight:100}
div.modal-header,div.modal-footer {padding: 2px 16px;/*background-color: #ddd;*/color: #000;}
div.modal-body {padding: 2px 16px;overflow-y:auto}
/*</editor-fold>*/
/*<editor-fold desc="Custom Components" defaultstate="collapsed">*/
.js{display: none}
button.btnMing,a.btnMing,input.btnMing{background-color: #484329;color: #ddd;text-decoration: none;min-width: 65px;line-height: 30px;display: block;border-radius: 40px;border: 1px solid #484329;transition: 1s;cursor:pointer }
select[disabled],button[disabled],button.btnMing[disabled],button.btnMing:hover,a.btnMing:hover,input.btnMing:hover{background-color: transparent;color: #484329;transition: 3s}
select[disabled],button[disabled],button.btnMing[disabled]{cursor: default;opacity: .4}
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button;cursor: pointer;}
::-moz-selection{color: #c4bc96;background-color: #686351}
::selection{color: #c4bc96;background-color: #686351}

input:required, input:invalid {box-shadow: none}
option{color: #484329;background-color: #fff}
select option:checked{box-shadow: 0 0 10px 100px #5a523a inset;color: #484329;-webkit-box-shadow: 0 0 10px 100px #5a523a inset;}

span.error-msg-inline{display: inline-block;color: #a00;width: 100%}
span.cap {float: left;width: 0.7em;font-size: 400%;line-height: 80%;}
span.success-tick{display: inline-block;font-size: 23pt;color: #91be42}
/*<editor-fold desc="Menu Key" defaultstate="collapsed">*/
div.menu-key {display: inline-block;cursor: pointer;margin-right: 10px;}
div.bar {width: 70px;height: 10px;background-color: #484329;margin: 6px 0;transition: 1s;}
/* Rotate first bar */
.mutate div.bar1{ -webkit-transform:rotate(-25deg) translate(-18px, 3px);transform: rotate(-25deg) translate(-18px, 3px)}
.mutate div.bar2{ opacity: 0}
.mutate div.bar3{ -webkit-transform:rotate(25deg) translate(-16px, -16px);transform: rotate(25deg) translate(-16px, -16px)}
/*</editor-fold>*/
/*</editor-fold>*/

.clearfix:after{content: "";display: table; clear:both}
.pull-right{float: right}
.pull-left{float: left}